.sec{
    margin-top: 100px;
}
.side{
    margin-top: 40px;
}
.for{
    padding: 6px; 
    width: 260px;
}
.form{
    padding: 6px;
    margin-left: -100px;
    width: 260px;
}
.forms{
    padding: 6px;
    margin-left: -200px;
    width: 260px;
}
#message{
    padding: 80px;
    width: 100%;
}
